CompileFlags:
  Compiler: riscv32-unknown-elf-gcc
  Add:
    - -march=rv32im
    - -mabi=ilp32
    - -target
    - riscv32-unknown-elf

  Diagnostics:
    Suppress: ['EVENT_UNIT']
    UnusedIncludes: None
