
#------------------------------
# Ignore files from compilation
#------------------------------

# compiled toolchain files
toolchain/*
!toolchain/.gitkeep

# stamps used by makefile
.make_utils/stamps/*
!.make_utils/stamps/.gitkeep

# files from the original risc-gnu-toolchain
riscv-gnu-toolchain/

# compiles bin2hex converter
tools/bin2hex




#---------------------------------
# Ignore Unnecessary Quartus Files
#---------------------------------

*.bak*
*.jdi


quartus_project/simulation/*

# licenses are computer dependent
quartus_project/licenses/*  
!quartus_project/licenses/.gitkeep

quartus_project/incremental_db/
quartus_project/db/*
!quartus_project/db/.gitkeep
