[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
[submodule "quartus_project/ip/pulpino_qsys"]
	path = quartus_project/ip/pulpino_qsys
	url = https://github.com/marqs85/pulpino_qsys
